<table class="table">
  <thead>
      <tr>
        <th>Image</th>
        <th>Resolution</th>
        <th>Language</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/banners/blackout21_1980x480_en.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/banners/blackout21_1980x480_en.png" class="bordered-image" alt="Banner (EN)" width="300">
        </a>
      </td>
      <td>1980 × 480</td>
      <td>English (EN)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/banners/blackout21_1980x480_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/banners/blackout21_1980x480_de.png" class="bordered-image" alt="Banner (DE)" width="300">
        </a>
      </td>
      <td>1980 × 480</td>
      <td>German (DE)</td>
    </tr>
  </tbody>
</table>
