<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/blackout_en.html" target="_blank">Blackout page – blank</a></td>
      <td>English (EN)</td>
    </tr>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/bg_blackout_en.html" target="_blank">Blackout page – wallpaper</a></td>
      <td>English (EN)</td>
    </tr>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/blackout_de.html" target="_blank">Blackout page – blank</a></td>
      <td>German (DE, du)</td>
    </tr>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/bg_blackout_de.html" target="_blank">Blackout page – wallpaper</a></td>
      <td>German (DE, du)</td>
    </tr>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/blackout_de_formal.html" target="_blank">Blackout page – blank</a></td>
      <td>Formal German (DE, Sie)</td>
    </tr>
    <tr>
      <td><a href="https://blackout21.github.io/blackout-static-pages/bg_blackout_de_formal.html" target="_blank">Blackout page – wallpaper</a></td>
      <td>Formal German (DE, Sie)</td>
    </tr>
  </tbody>
</table>
