<table class="table">
  <thead>
      <tr>
        <th>Image (blank)</th>
        <th>Image (background)</th>
        <th>Language</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/stories/story_inform_en.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/story_inform_en.png" class="bordered-image" alt="Story (EN)" height="300">
        </a>
      </td>
      <td>
        <a href="https://blackout21.github.io/media/stories/bg_story_inform_en.jpg" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/bg_story_inform_en.jpg" class="bordered-image" alt="Story (EN)" height="300">
        </a>
      </td>
      <td>English (EN)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/stories/story_cta_en.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/story_cta_en.png" class="bordered-image" alt="Story (EN)" height="300">
        </a>
      </td>
      <td>
        <a href="https://blackout21.github.io/media/stories/bg_story_cta_en.jpg" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/bg_story_cta_en.jpg" class="bordered-image" alt="Story (EN)" height="300">
        </a>
      </td>
      <td>English (EN)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/stories/story_inform_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/story_inform_de.png" class="bordered-image" alt="Story (DE)" height="300">
        </a>
      </td>
      <td>
        <a href="https://blackout21.github.io/media/stories/bg_story_inform_de.jpg" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/bg_story_inform_de.jpg" class="bordered-image" alt="Story (DE)" height="300">
        </a>
      </td>
      <td>German (DE)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/stories/story_cta_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/story_cta_de.png" class="bordered-image" alt="Story (DE)" height="300">
        </a>
      </td>
      <td>
        <a href="https://blackout21.github.io/media/stories/bg_story_cta_de.jpg" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/bg_story_cta_de.jpg" class="bordered-image" alt="Story (DE)" height="300">
        </a>
      </td>
      <td>German (DE)</td>
    </tr>
    <tr>
      <td colspan="2">
        <a href="https://blackout21.github.io/media/stories/test_test.jpg" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/stories/test_test.jpg" class="bordered-image" alt="Test Story with ©" height="300">
        </a>
      </td>
      <td>
        universal<br>
        for own text or as first image<br>
        für eigenen Text oder 1. Bild
      </td>
    </tr>
  </tbody>
</table>
