<div class="row">
  <div class="col-lg-6">
    <div class="card bg-light bg-primary">
      <div class="card-header"><span class="fa fa-user"></span> Jeder</div>
      <div class="card-body">
        <p class="card-text">
          Lade ein schwarzes Profilbild auf allen sozialen Netzwerken hoch,
          auf denen du aktiv bist, um ein Zeichen zu setzen.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light bg-primary">
      <div class="card-header"><span class="fa fa-globe"></span> Webseitenbetreiber</div>
      <div class="card-body">
        <p class="card-text">
          Ihr werdet darum gebeten, in Form einer prominenten Meldung, auf eurer
          Seite aufmerksam zu machen. <a href="{{ '/de/media' | relative_url }}">Hier</a> findet ihr Möglichkeiten dies zu tun.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light bg-primary">
      <div class="card-header"><span class="fa fa-video-camera"></span> Streamer</div>
      <div class="card-body">
        <p class="card-text">
          Ihr könnt leider keinen Blackscreen senden, da dies nicht gestattet ist.
          Ihr könnt aber an dem Tag mitmachen, indem ihr im Stream darüber aufklärt.
        </p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-light bg-primary">
      <div class="card-header"><span class="fa fa-youtube-play"></span> YouTuber</div>
      <div class="card-body">
        <p class="card-text">
          Schaltet am 21. März um 14:00 Uhr ein Video frei, in welchen 
          ihr auf die Demos aufmerksam macht.
        </p>
      </div>
    </div>
  </div>
</div>