<table class="table">
  <thead>
      <tr>
        <th>Image</th>
        <th>Info</th>
        <th>Language</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/twitch/transparent_blackscreen_intro_link_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/twitch/transparent_blackscreen_intro_link_de.png" class="bordered-image" alt="Twitch Banner (DE)" width="300">
        </a>
      </td>
      <td>Transparent, Fullscreen, Demo-Link</td>
      <td>German (DE)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/twitch/transparent_blackscreen_date_link_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/twitch/transparent_blackscreen_date_link_de.png" class="bordered-image" alt="Twitch Banner (DE)" width="300">
        </a>
      </td>
      <td>Transparent, Fullscreen, Demo-Link</td>
      <td>German (DE)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/twitch/transparent_blackscreen_intro_command_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/twitch/transparent_blackscreen_intro_command_de.png" class="bordered-image" alt="Twitch Banner (DE)" width="300">
        </a>
      </td>
      <td>Transparent, Fullscreen, "!Artikel13" command</td>
      <td>German (DE)</td>
    </tr>
    <tr>
      <td>
        <a href="https://blackout21.github.io/media/twitch/transparent_blackscreen_date_command_de.png" target="_blank" class="image-link">
          <img src="https://blackout21.github.io/media/twitch/transparent_blackscreen_date_command_de.png" class="bordered-image" alt="Twitch Banner (DE)" width="300">
        </a>
      </td>
      <td>Transparent, Fullscreen, "!Artikel13" command</td>
      <td>German (DE)</td>
    </tr>
  </tbody>
</table>
