body {
  padding-top: 100px;
  font: normal 16px/22px "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-weight: 900;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
}

.card {
  margin-bottom: 30px;
}

.card .fa {
  margin-right: 10px;
}

h2, h3 {
  font-size: 20px;
  line-height: 28px;
}

pre.highlight {
  border: 1px solid #282828;
  border-radius: 4px;
  padding: 10px;
}