body {
  padding-top: 100px;
  font: normal 16px/22px "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.navbar-brand {
  font-weight: 900;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
}

.card {
  margin-bottom: 30px;
}

.card .fa {
  margin-right: 10px;
}

h2, h3 {
  font-size: 20px;
  line-height: 28px;
}

pre.highlight {
  border: 1px solid #282828;
  border-radius: 4px;
  padding: 10px;

  .k {
    font-weight: bold;
    color: #fff;
  }

  .c1 {
    opacity: .9;
  }
}

code {
  color: #fff;
}

.bordered-image {
  border: 1px solid #282828;
}

a.imprint, a.imprint:link, a.imprint:hover, a.imprint:focus, a.imprint:active {
  color: #888;
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.8);
}